<div id="detail-container">
  <div class="detail-img">
    <img [src]="publication.picture" alt="" />
  </div>

  <div class="detail-commentaire">
    <div class="commentaire-header">
      <div class="header-icon">
        <i class="fa-solid fa-download"></i>
        <i class="fa-solid fa-circle-info"></i>
      </div>

      <div class="commentaire-button">
        <button>Profil</button>
        <button>Enregistrer</button>
      </div>
    </div>

    <div class="commentaire-body">
      <div class="body-title">
        <h2>{{ publication.title }}</h2>
      </div>
      <div class="body-text">
        <p>
          Pas de commentaire pour le moment ! Ajoutez-en un pour lancer la
          conversation.
        </p>
      </div>

      <div class="user-info">
        <div class="info">
          <i class="fa-solid fa-user"></i>
          <div class="info-text">
            <p>{{ publication.author.name }}</p>
            <p>{{ publication.author.numberFolower }} <span>abonnés</span></p>
          </div>
        </div>
        <button class="btn-folow">S'abonner</button>
      </div>
    </div>

    <div class="commentaire-footer">
      <div class="footer-header">
        <h2>Qu'en pensez vous ?</h2>
        <div class="like">
          <p>❤️<span>0</span></p>
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>

      <div class="footer-body">
        <i class="fa-solid fa-user"></i>
        <input type="text" placeholder="Ajouter un commentaire !" />
      </div>
    </div>
  </div>
</div>
