<div id="container-detail-publication">
  <div class="detail-publication-img">
    <img [src]="publication.picture" alt="" />
  </div>

  <div class="detail-section-commentaire">
    <div class="header-commentaire">
      <div class="header-icon">
        <i class="fa-solid fa-download"></i>
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <div class="header-button">
        <button>Profil</button>
        <button>Enregistrer</button>
      </div>
    </div>

    <div class="publication-title">
      @if (publication.title) {
      <h2>{{ publication.title }}</h2>
      } @else {
      <div class="user-info">
        <h3>{{ publication.author.name }}</h3>
        <p>{{ publication.author.numberFolower }}</p>
      </div>
      <div class="button-folow">
        <button>S'abonner</button>
      </div>
      }
    </div>

    <div class="body-commentaire">
      <h2>Commentairs</h2>
      <p>Site static donc aucun commentaire merci !</p>
    </div>

    <div class="footer-commentaire">
      <div class="footer-header">
        <div class="footer-title">
          <h2>Qu'en pensez vous ?</h2>
        </div>
        <div class="avis-publication">
          <p><span>0</span></p>
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>

      <div class="footer-body">
        <div class="user-img">
          <img src="" alt="" />
        </div>
        <div class="user-input-add-comment">
          <input type="text" placeholder="Ajouter un commentaire" />
        </div>
      </div>
    </div>
  </div>
</div>
