<div id="detail-publication">
  <div class="back-icon">
    <i class="fa-solid fa-arrow-left"></i>
    <p>Pour vous</p>
  </div>
  <div class="publication-img">
    <img [src]="publication.picture" alt="Image de la publication" />
  </div>

  <div class="publication-commentaire">
    <div class="info-publication">
      <div class="info-publication-icon">
        <i class="fa-solid fa-download"></i>
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <div class="info-publication-text">
        <p>Profil</p>
        <button>Enregistrer</button>
      </div>
    </div>

    <div class="commentaire-section">
      <p>Site statique donc pas de commentaire</p>
    </div>
  </div>
</div>
