<div id="container-header">
  <div class="header">
    <div class="logo">
      <i class="fa-brands fa-pinterest" id="pinterest-icon-color"></i>
    </div>

    <div class="container-button">
      <div class="button-accueil">
        <button>Accueil</button>
      </div>

      <div class="button-add">
        <button>Créer</button>
      </div>
    </div>

    <div class="header-input-search">
      <i class="fa-solid fa-magnifying-glass" id="icon-search"></i>
      <input type="text" id="search-input" placeholder="Recherche" />
    </div>

    <div class="icon-container">
      <i class="fa-solid fa-bell"></i>
      <i class="fa-solid fa-message"></i>
      <i class="fa-solid fa-user"></i>
      <i class="fa-solid fa-arrow-down"></i>
    </div>
  </div>
</div>
