<div id="publication-container">
  @for (item of mediaData; track $index) {
  <div class="publication" (click)="getDetails(item.id)">
    <div class="info-anim">
      <div class="info-top">
        <p>Profil</p>
        <button>Enregistrer</button>
      </div>
      <div class="info-bottom">
        <i
          class="fa-solid fa-download"
          appDownloadImage
          [imageUrl]="item.picture"
        ></i>
        <i class="fa-solid fa-circle-info"></i>
      </div>
    </div>
    <img [src]="item.picture" alt="" class="publication-img" />
  </div>
  }
</div>
